html,
body,
#root,
.app,
.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.app{
  display: flex;
  flex-direction: row;
  background-color: "#E8EFF7";
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main {
  flex: 1; /* Fill remaining vertical space */
  overflow-y: auto; /* Enable vertical scrolling for the main content */
  background-color: #E8EFF7; /* Example background */
}

::-webkit-scrollbar{
  /* width: 4px; */
  display: none;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-track::hover{
  background: #555;
}